html,body {
    margin: auto;
    display: table;
    position: absolute;
    left: 50%;
    right: 50%;
    width: 400px;
    height: 610px;
    transform: translate(-50%, -50%);
    top: 50%;
} 
body{
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}
div{
    margin: 0;
    padding: 0;
}
main{
    margin: 0 15px;
}

header {
color: white;
font-size: 50%;
background-image:url("photo/fon.jpg");
background-position: center;
background-size: cover;
padding-bottom: 50px;
padding-top: 50px;
padding-left: 30px;
border-top-left-radius: 6px;
border-top-right-radius:6px;
margin: 0, auto;
}
p,h1,h2,h5,div{
    margin: 0;
    padding: 0;
}

.splitter{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-top: 10px;
    width: 300px;
}

h4{
    display: flex;
    justify-content: center;
    margin: 0;
}
#orders-things{
    height: 100px;
    overflow-y:auto;
    margin-bottom: 1px;
    padding-top: 10px;
}
#orders-things::-webkit-scrollbar{
    display: none;
}
.format-order{
    display: flex;
    justify-content: space-between;
}
.ingredients{
    font-size: 8px;
    color: rgb(75, 75, 75);
}
.profile-pic{
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.menu-inner{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.price{
    border-top: 1px solid black;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.plus{
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}
.bottom{
    margin-top: 60px;
}
button{
    color: whitesmoke;
    padding: 10px;
    display: table;
    border: none;
    background-color: #0fdc99;
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 5px;
}
#order-details{
    position: absolute;
    background-color: white;
    padding: 30px 10px 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    right: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: auto;
    width: 250px;
    height: 200px;
    text-align: center;
    box-shadow: 6px 6px 30px #999;
}
.card-dialog{
    margin-bottom: 30px;
}

input{ 
    padding: 6px;
    margin: 3px;
    border-radius: 4px #999;
}
/* autofill color white disable  */
input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s;
  }
#close-window{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 92%;
    top: 8%;
    cursor: pointer;
}


